body {
  text-align: center;


  color: rgb(212, 209, 36);

  width: 80%;
  text-align: center;


}

.container {
  border: black groove 1px;
  width: 100%;
  left: 10%;

  background-image: linear-gradient(30deg, #2b908f, #90ed7d);
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-food-western-food-steak-tomato-image_25128.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  font-weight: 700;

  border-style: groove;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pre {
  font-family: "Lato", sans-serif;
}

a {
  background-color: coral;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  margin: 2px;
}

input {
  width: 70px;
  margin: 20px;
  font-size: larger;

  border-radius: 15px;
  background-color: coral;
}

.total {
  background-color: coral;
  margin: 20px;

  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: black;
  margin-left: 100px;
}

#sub {
  background-color: coral;
  /* padding: 10px; */
  /* margin: 10px; */
  font-size: larger;

  width: 100px;
}
